body {
  background-color: #E5E5E5;
}

/* .navbar {
    background-color: #E5E5E5;
}

.navbar-light .navbar-nav .nav-link {
  border-radius: 50px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: salmon;
  border: 1px solid salmon;
  border-radius: 50px;
} */

#header h1 {
  margin: 0 0 10px 0;
  font-size: 46px;
  font-weight: 700;
  color: black;
}

h1#profilename {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: salmon;
  font-weight: 400;
}

h2#lastname {
  text-align: center;
  font-weight: 100;
  line-height: 16px;
}

div#points {
  text-align: center;
}
button#points {
  font-size: 24px;
  margin-top: 12px;
  border: 1px solid salmon;
  border-radius: 50px;
  width: 12em;
  padding-top: 8px;
  padding-bottom: 8px;
  color: salmon;
  background-color: white;
  transition: 0.6s;
}

button#points:hover {
  color: black;
  background-color: salmon;
  border-radius: 50px;
}

#profilepic {
  height: 15%;
  text-align: center;
  margin-bottom: 4em;
}

img#profilepic {
  height: 150px;
  border-radius: 50px;
}

div#last {
  text-align: center;
  width: 100%;
  height: 62.5%;
  margin-top: 12px;
  overflow-y: scroll;
}

.card-header:first-child {
  border-radius: 17px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(250, 126, 112, 0.4);
}

#last-activity {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 24px;
  border-radius: 17px;
}

.tab-pane {
  height: 75vh;
  /* background-image: linear-gradient(to right,salmon, rgb(220, 92, 92)); */
}

a.nav-link {
  color: salmon;
}

.active.nav-link {
  color: grey;
  border-radius: 12px;
}

a.nav-link:hover {
  color: red;
  border-radius: 12px;
}

.table {
  margin-top: 36px;
  height: 100%;
}

.tableload {
  text-align: center;
  margin-top: 100px;
}

h1#leaderboard {
  text-align: center;
  margin-top: 12px;
  color: red;
}

.navbar-light .navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
  color: red;
}

.nav-item {
  font-size: 1.3rem;
  text-transform: capitalize;
}

#header .name {
  color: red;
  font-size: 40px;
}

.navbar a:hover,
#header .brand-name {
  color: red;
}

#header {
  width: calc(90vw + 16px);
  height: 86.5vh;
  margin: 8px;
  margin-left: calc(160px + 8px);
  background-color: white;
}
#header .btn-get-started {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  background: transparent;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: salmon;
  color: black;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#login-component.container {
  width: 450px;
  color: grey;
}

/* .signup {
  width: ;
} */

#signup-component.container {
  width: 600px;
  color: grey;
}

form#signup {
  border: 0px solid #f1f1f1;
  border-radius: 12px;
  padding: 150px 56px 56px 56px;
}

form#login {
  border: 0px solid #f1f1f1;
  border-radius: 12px;
  padding: 65px 19px 56px 19px;
}

button#loginbutton {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
  width: 388.027px;
}

button#loginbutton:hover {
  background: salmon;
  color: black;
}

button#loadingbutton {
  width: 388.027px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
}

button#logout {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
}

button#logout:hover {
  background: salmon;
  color: black;
}

a#profile {
  transition: 0.6s;
  border: #fff;
  background-color: #fff;
  font-size: 20.8px;
  margin-right: 16px;
  color: grey;
}
a#profile:hover {
  color: salmon;
}

.loginloadingspinner {
  height: 16px;
  width: 16px;
}

a.btn-signup {
  text-align: center;
  width: 388.027px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
}

a.btn-signup:hover {
  background: salmon;
  color: black;
}

button#submitbutton:hover {
  background: salmon;
  color: black;
}

button#submitbutton {
  width: 388.027px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
}

button#cancelbutton:hover {
  background: salmon;
  color: black;
}

button#cancelbutton {
  width: 388.027px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
}

div.timetable#timetable {
  margin-top: 12px;
  background-color: white;
}

/* Timer Styles */
div.timer#timer {
  justify-content: center;
  display: flex;
  margin-top: 9vh;
  font-size: 40px;
  margin-right: 0px;
  margin-left: 160px;
}

button#start-stop {
  width: 300px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: salmon;
  border: 2px solid salmon;
  text-decoration: none;
  background-color: #fff;
}

button#start-stop:hover {
  background: salmon;
  color: black;
}

div.range-slider {
  width: 100%;
}

.range-slider {
  margin-top: 24px;
  text-align: center;
  width: 15%;
  margin-right: 0px;
}

button#color {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  background-color: aqua;
  margin-top: 16px;
}

button#open-imports {
  color: white;
  font-size: 20px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 50px;
  background-color: salmon;
}

div.card-body#pending:hover {
  background-color: rgba(250, 128, 114, 0.4) ;
  cursor: pointer;
  transition: 0.5s;
  animation: ease-in-out;
}